.linkColor {
  color: hsl(219deg 95% 35%);
}

.root {
  flex-flow: column;
  height: 90%;
  width: 100%;
}

.header {
  flex: 1 1 auto;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.headerContent {
  flex: 1 1 100%;
  overflow: hidden;
}

.nogrow {
  flex: 0 0 auto;
}

.cardBody {
  flex-flow: column;
}

.description {
  border-top: 1px solid hsl(0deg 0% 93%);
  flex: 1 0 auto;
}

.title {
  line-height: 1.35;
}

.iconFallback {
  font-size: 3rem;
  height: 64px;
  width: 64px;
}

.versionNr {
  font-size: 0.7rem;
}
