.wrapper {
  flex-direction: column;
}

.createScreenshotButton {
  align-self: flex-end;
}

.scrollButton {
  align-self: center;
  border: none;
}

.screenshots {
  height: 24em;
  justify-content: space-between;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  white-space: nowrap;
  width: 100%;
}

.screenshots::-webkit-scrollbar {
  display: none; /* Hide scrollbar for webkit */
}

.screenshotPreview {
  height: 24em;
}
