.root {
  flex: 1 1 auto;
}

.previewRoot {
  background-color: hsl(0deg 0% 7%);
  border-radius: 22px;
  box-sizing: border-box;
  flex: 0 0 40vw;
  min-height: 100%;
}

.leftPanel {
  flex: 1 1 auto;
}

.editorForm {
  flex: 1 1 auto;
  min-height: 50%;
}

.editor {
  height: 100%;
}
