<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1,minimum-scale=1,width=device-width" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" sizes="16x16" href="/icon-16.png" />
    <link rel="icon" sizes="32x32" href="/icon-32.png" />
    <link rel="icon" sizes="96x96" href="/icon-96.png" />
    <link rel="icon" sizes="128x128" href="/icon-128.png" />
    <link rel="icon" sizes="192x192" href="/icon-192.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/icon-76.png?maskable=true" />
    <link rel="apple-touch-icon" sizes="120x120" href="/icon-120.png?maskable=true" />
    <link rel="apple-touch-icon" sizes="152x152" href="/icon-152.png?maskable=true" />
    <link rel="apple-touch-icon" sizes="144x144" href="/icon-144.png?maskable=true" />
    <link rel="apple-touch-icon" sizes="152x152" href="/icon-152.png?maskable=true" />
    <link rel="apple-touch-icon" sizes="167x167" href="/icon-167.png?maskable=true" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icon-180.png?maskable=true" />
    <!-- This *must* be the bottom one. -->
    <link rel="apple-touch-icon" href="/icon-57.png?maskable=true" />
    <title>Appsemble · App not found</title>
    <link rel="stylesheet" href="{{{ bulmaURL }}}" />
    <link rel="stylesheet" href="{{{ faURL }}}" />
  </head>
  <body>
    <div class="is-primary navbar">
      <header class="navbar-brand">
        <h1 class="navbar-item title is-4">Appsemble</h1>
      </header>
    </div>
    <section class="section">
      <p class="container">{{ message }}</p>
    </section>
  </body>
</html>
