.parentTop {
  border: 0;
  border-bottom: 1px solid hsl(0deg 0% 88%);
  border-radius: 0;
  font-size: 14px;
  height: 30px;
  justify-content: flex-start;
  margin: 0;
  padding: 0 0 0 1rem;
  width: 100%;
}
