.editorNavBar {
  align-items: center;
  background-color: hsl(0deg 0% 96%);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

.panelTopLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 16%;
  width: 16%;
}

.panelTopRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  max-width: 19%;
  width: 19%;
}

.panelSliderLeft {
  background-color: hsl(0deg 0% 100%);
  border: hsl(0deg 0% 83%) 1px solid;
  border-bottom: none;
  border-radius: 4px 0 0;
  display: block;
}

.panelSliderRight {
  background-color: hsl(0deg 0% 100%);
  border: hsl(0deg 0% 83%) 1px solid;
  border-radius: 0 4px 0 0;
  display: block;
}

.isClosed {
  border-width: 0;
  transition:
    width 0.35s ease-in-out,
    border-width 0.35s ease-in-out;
  width: 0;
}

.isOpen {
  border: hsl(0deg 0% 83%) 1px solid;
  transition: width 0.35s ease-in-out;
  width: 100%;
}

.guiEditorContainer {
  background-color: hsl(0deg 0% 96%);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  height: 80vh;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

.highLight {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: color;
}

@keyframes color {
  10% {
    background-color: hsl(0deg 0% 100%);
  }

  50% {
    background-color: hsl(218deg 100% 66%);
  }

  90% {
    background-color: hsl(0deg 0% 100%);
  }
}
