.repeatedContainer {
  background-color: hsl(0deg 0% 100%);
  background-image: url(./background.svg);
  box-shadow:
    0 -5px 11px 0 hsl(0deg 0% 4% / 7%),
    0 5px 11px 0 hsl(0deg 0% 4% / 7%);
  flex-flow: row;
  height: 7.5em;
  overflow-x: auto;
  overflow-y: hidden;
}
