.blockStore {
  border-color: hsl(0deg 0% 53%);
}

.blockStoreHeader {
  border-bottom: 1px solid;
  border-color: hsl(0deg 0% 53%);
  border-top: 1px solid;
}

.blockStoreSearch {
  border-color: hsl(0deg 0% 53%);
  margin: 15px 25px 0;
}

.title {
  margin: auto;
}
